.btn{
    border: 2px solid black;
}
.alternativa:hover{
    border: 2px solid blue;
}
.alternativa{
    border: 2px solid transparent;
    white-space: normal;
    word-wrap: break-word;
}
#corpo{
    height:100vh;
    background-image: url("wallpaper.jpg");
    background-size:cover;
}
.btJogar{
    border: 2px solid transparent;
}
.btJogar:hover{
    border: 2px solid black;
}
#txtFim{
}
#areaAcertos{
}
p{
    font-weight: bold;
}