<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Quiz Web</title>
    <script src="script.js"></script>
</head>
<body>
    <div id="areaJogo">
        <p id="desempenho"></p>
        <p id="progresso"></p>
        <p id="questao"></p>
        <input type="button" id="alternativa1" class="alternativa">
        <input type="button" id="alternativa2" class="alternativa">
        <input type="button" id="alternativa3" class="alternativa">
        <input type="button" id="alternativa4" class="alternativa">
    </div>
    <div id="areaFim">
        <p id="msgFim">Fim de jogo</p>
    </div>
</body>
</html>